@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path {
    clip-path: inset(0);
  }

  .left {
    opacity: 0.4;
    transform: translateX(-150%);
    transition: transform 300ms ease, opacity 300ms ease,
      background-color 300ms ease;
  }

  .right {
    opacity: 0.4;
    transform: translateX(150%);
    transition: transform 300ms ease, opacity 300ms ease,
      background-color 300ms ease;
  }

  .center {
    transform: translateY(20%);
    transition: transform 300ms ease, opacity 300ms ease,
      background-color 300ms ease;
  }

  .mask {
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
    mask-image: linear-gradient(to top, transparent 5%, black 60%);
  }

  .article-image-mask {
    -webkit-border-radius: 1rem 0 0 0;
  }

  .article-text-overflow {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #e4e4e4 #181818;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #181818;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e4e4e4;
    border-radius: 10px;
    border: 3px solid #181818;
  }

  @media (min-width: 1200px) {
    .right,
    .left {
      opacity: 1;
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(2rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      transform: translateX(-2rem);
      transform: translateZ(0);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      transform: translateZ(0);
    }
  }

  @keyframes light {
    0% {
      filter: drop-shadow(0 0 2px #fff);
      transform: translateZ(0);
    }
    30% {
      filter: drop-shadow(0 0 7px #fff);
      transform: translateZ(0);
    }
    60% {
      filter: drop-shadow(0 0 2px #fff);
      transform: translateZ(0);
    }
  }

  @keyframes scale {
    0% {
      transform: scale(1);
      transform: translateZ(0);
    }
    60% {
      transform: scale(1.1);
      transform: translateZ(0);
    }
  }
}
